body {
	font-family: sans-serif;
}

#states {
	display: flex;
	flex-direction: row;
	align-items: centre;
}

#states > button {
	height: 80px;
	width: 80px;
	border-width: 5px;
	border-style: solid;
	margin: 6px;
	text-align: center;
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
}
#states > button.selected {
	color: white;
}
#states > button.selected.pending,
#states.pending > button {
	color: black;
}

#states > #disarm {
	border-color: green;
}
#states > #disarm.selected {
	background-color: green;
}

#states > #partArm {
	border-color: orange;
}
#states > #partArm.selected {
	background-color: orange;
}

#states > #fullArm {
	border-color: red;
}
#states > #fullArm.selected {
	background-color: red;
}

#states.pending > button,
button.pending {
	background-color: grey !important;
	background: repeating-linear-gradient(
		45deg,
		rgb(231, 231, 231),
		rgb(231, 231, 231) 5px,
		rgb(191, 191, 191) 5px,
		rgb(191, 191, 191) 10px
	);
}

.entry {
	margin-top: 5px;
	margin-bottom: 5px;
}

.title {
	font-weight: bold;
}

table,
th,
td {
	border: 1px solid lightgrey;
	border-collapse: collapse;
}

td {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
}
